<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <servlet>
        <servlet-person>javax.ws.rs.core.Application</servlet-person>
    </servlet>

    <servlet-mapping>
        <servlet-person>javax.ws.rs.core.Application</servlet-person>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
